<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataGen.Extensions" version="1.7.3" targetFramework="net462" />
  <package id="DataGen.Singleton" version="1.0.3" targetFramework="net462" />
  <package id="DotNetZip" version="1.11.0" targetFramework="net462" />
  <package id="DynamicData" version="6.5.1.2479" targetFramework="net462" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net462" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net462" />
  <package id="LottieSharp" version="1.0.0" targetFramework="net462" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net462" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net462" />
  <package id="Microsoft.Data.DataView" version="0.11.0" targetFramework="net462" />
  <package id="Microsoft.ML" version="1.0.0-preview" targetFramework="net462" />
  <package id="Microsoft.ML.CpuMath" version="1.0.0-preview" targetFramework="net462" />
  <package id="Microsoft.ML.DataView" version="1.0.0-preview" targetFramework="net462" />
  <package id="Microsoft.ML.FastTree" version="1.0.0-preview" targetFramework="net462" />
  <package id="morelinq" version="3.2.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net462" />
  <package id="OxyPlot.Wpf" version="1.0.0" targetFramework="net462" />
  <package id="PropertyTools.Wpf" version="2.0.1" targetFramework="net462" />
  <package id="ReactiveProperty" version="5.3.0" targetFramework="net462" />
  <package id="SharpDX" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Desktop" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.CodeDom" version="4.4.0" targetFramework="net462" />
  <package id="System.Collections" version="4.3.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net462" />
  <package id="System.Reactive" version="4.1.0" targetFramework="net462" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Dataflow" version="4.8.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="ToggleSwitch" version="1.1.2" targetFramework="net462" />
  <package id="UtilityEnum" version="1.1.3" targetFramework="net462" />
  <package id="UtilityHelper" version="2.1.1-alpha" targetFramework="net462" />
  <package id="UtilityInterface" version="2.0.1-alpha" targetFramework="net462" />
  <package id="UtilityModel" version="1.0.6-alpha" targetFramework="net462" />
  <package id="UtilityWpf.View" version="2.1.3" targetFramework="net462" />
  <package id="WPFToggleSwitch" version="1.0.0" targetFramework="net462" />
</packages>